torch
torchvision
e2cnn==0.1.7
pybullet==2.7.1
attrdict
GitPython
numpy>=1.19.5
scikit-image>=0.14.2
scipy>=1.2.1
tqdm>=4.31.1
dill
more_itertools
opencv-python
matplotlib
imageio
torchsummary
tensorboardX
Pillow
